#rquote{
    padding: 0;
    border: 1px solid #000;
    box-shadow: 8px 5px 0 rgba(0,0,0, 0.2);
    text-align: center;
    text-transform:lowercase;
    font-size: 0.5em;
    margin: 10px;
    width: 150px;
}

#qmessage{
    text-align: left;
    text-transform: lowercase;
    font-size: 1em;
}

/*referenced from html entities: https://dev.w3.org/html5/html-author/charref*/
#qmessage p:before{
    content: '\0231C'; 
    padding: 5px;
    font-size:1.5em;
}

#qmessage p:after{
    content: '\0231F';
    padding: 5px;
    font-size:1.5em;
}