#rquote{
    padding: 0;
    border: 1px solid #000;
    border-radius: 0 0 30px 30px;
    box-shadow: 8px 5px 0 rgba(0,0,0, 0.2);
    text-align: center;
    text-transform:lowercase;
    font-size: 0.4em;
    margin: 10px;
    width: 150px;
}
